footer.footer
  .container.footer__container
    .row
      .row__col--3.footer__col--nav
        h3.title-size-3.footer__title Проект
        ul.footer__nav
          li
            a(href="#") О проекте
          li
            a(href="#") Презентационный букл​ет Праворуба
          li
            a(href="#") Статистика проекта
          li
            a(href="#") Пользовательское соглашение
          li
            a(href="#") Меморандум
          li
            a(href="#") Наши партнеры
      .row__col--3.footer__col--nav
        h3.title-size-3.footer__title Развитие
        ul.footer__nav
          li
            a(href="#") Размещение рекламы
          li
            a(href="#") Наши ссылки и баннеры
          li
            a(href="#") Благотворители
      .row__col--3.footer__col--nav
        h3.title-size-3.footer__title Помощь
        ul.footer__nav
          li
            a(href="#") Категории пользователей
          li
            a(href="#") Рейтинг и репутация
          li
            a(href="#") Как работать на портале
          li
            a(href="#") Тариф PRO
      .row__col--3.footer__col--nav
        h3.title-size-3.footer__title Полезные ссылки
        ul.footer__nav
          li
            a(href="#") Статистика стоимости услуг адвокатов и&nbsp;юристов&nbsp;в&nbsp;РФ
        a(href="#").btn.btn--size-semi.btn--theme-telegram.footer__btn-telegram
          span.btn__inner
            svg.icon.btn__icon.btn__icon--rtl
              use(xlink:href="images/sprite.svg#telegram")
            span.btn__title Наш канал в Telegram
        p.footer__remarks Обо всех замеченных ошибках при работе сайта просьба сообщать при помощи <a href="#">обратной связи</a>
        .footer__donate
          a(href="#").footer__donate-link
          .info-item.info-item--theme-box
            .info-item__picture
              img(src="images/info-item-5.svg" alt="Поддержите развитие проекта!" width="28" height="28").info-item__img
            .info-item__content
              .info-item__title Нравится портал?
              .info-item__text Поддержите развитие проекта!
      .row__col--12.footer__col--seperator
      .row__col--3.footer__col--copyright
        p.footer__copyright Copyright © 2010—2020 «Pravorub»
      .row__col--3.footer__col--privacy
        a(href="#").footer__link-privacy Политика обработки персональных данных
      .row__col--3.footer__col--privacy
        a(href="#").footer__link-privacy Пользовательское соглашение
      .row__col--3.footer__col--actions
        a(href="#").action-link.footer__action-link
          svg.icon.action-link__icon
            use(xlink:href="images/sprite.svg#rss")
          .action-link__title RSS
        a(href="#").action-link.footer__action-link
          svg.icon.action-link__icon
            use(xlink:href="images/sprite.svg#translate")
          .action-link__title Перевести сайт
      .row__col--12.footer__col--trademark
        p.footer__trademark «Праворуб» (pravorub) - является зарегистрированным товарным знаком (Рег. № 461759 в Государственном реестре товарных знаков и знаков обслуживания). Неправомерное использование товарного знака будет преследоваться по закону.<br>При любом копировании материалов сайта, активная ссылка на "https://pravorub.ru/" обязательна!