// typography
$ff-default: 'IBM Plex Sans', Arial, sans-serif;

// pallets
$color-black-1: #2C2C2C;
$color-black-2: #555;
$color-black-3: #8D8D8D;
$color-gray-1: #A4A4A4;
$color-gray-2: #C4C4C4;
$color-gray-3: #F0F0F0;
$color-gray-4: #888;
$color-white-1: #fff;
$color-white-2: #FAFAFA;
$color-beige-1: #F6EAD9;
$color-beige-2: #FFF5E7;
$color-blue-1: #7EB0DF;
$color-blue-2: #039BE5;
$color-green-1: #6BC188;
$color-green-2: #89CEA0;
$color-accent-1: #F04149;
$color-accent-2: #F65E65;

$xl: 1440px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;