:root {
    --fs-default: 14px;
    --fs-1: 32px;
    --fs-2: 24px;
    --fs-3: 16px;
    --fs-4: 14px;
    --fs-5: 13px;
    --fs-6: 12px;
    --fs-7: 10px;

    --gap: 12px;
    --gap-: -12px;
    --gap-fluid: 24px;
    --gap-fluid-: -24px;
}