include includes/head.pug

body

  #root
    include includes/header.pug

    main(role="main")
      include includes/welcome-section.pug

    include includes/footer.pug

  include includes/foot.pug